*.csv
*.pyc
*.tgz
*.egg-info/**
*.flake8
.vscode/**
*models/**
*.log
outputs/**
docs/build/**
src/housing.egg-info/**
artifacts/models/**
dist/**
*.pyc
build/**
docs/build/**
mlruns/**
src/housing.egg-info/
artifacts/
logs/